*{
    margin: 0;
    padding: 0;

}
.main-app-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100vh;
 

}
.routes-conatiner {
    height: 80%;
}


  