.card_icone {
    padding: 20px;
}
.card_container {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    width: 90%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    transition: linear 0.2s;
    cursor: pointer;
    
}
.card_container:hover {
    border: 1px solid #0078FF;
    background-color: #0078FF;
    color: white;
}
.card_container:hover .leran-more {
    color: white;
}
.card_description {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 20px;
}
.card_description h3 {
    width: 70%;
}
.leran-more {
    text-decoration: none ;
    color: #0078FF;

}

.swiper-btns-container {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 170px;
    
}
.prev-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #0078FF;
    background-color: white;
    transition: all 0.2s;
}
.next-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #0078FF;
    background-color: #0078FF;
    transition: all 0.2s;
}
.next-btn-icone {
    width: 30px;
    height: 30px;
    color: white;
}
.prev-btn-icone {
    width: 30px;
    height: 30px;
    color: #0078FF;
}
.prev-btn:active{
    transform: translateX(-3px);
}
.next-btn:active {
    transform: translateX(3px);
}