.footer-main-container {
    background-color:#0077FF;
    color: #79B2F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;


}
.footer-logo {
    display: flex;
    align-items: center;
    gap:1rem;
    margin: 2rem;
}
.footer-follow {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
}